<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.path</key>
		<string>/Users/iv/Documents/Type/01_type/Adobe/SourceSerif/italic/Masters/master_0/SourceSerif-Italic_0.otf</string>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.7</real>
		</array>
		<key>com.typemytype.robofont.layerOrder</key>
		<array>
		</array>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.sort</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>space</string>
					<string>figurespace</string>
					<string>A</string>
					<string>Agrave</string>
					<string>Aacute</string>
					<string>Acircumflex</string>
					<string>Atilde</string>
					<string>Adieresis</string>
					<string>Aring</string>
					<string>Amacron</string>
					<string>Abreve</string>
					<string>Aogonek</string>
					<string>B</string>
					<string>C</string>
					<string>Ccedilla</string>
					<string>Cacute</string>
					<string>Ccaron</string>
					<string>D</string>
					<string>Dcaron</string>
					<string>E</string>
					<string>Egrave</string>
					<string>Eacute</string>
					<string>Ecircumflex</string>
					<string>Edieresis</string>
					<string>Emacron</string>
					<string>Edotaccent</string>
					<string>Eogonek</string>
					<string>Ecaron</string>
					<string>F</string>
					<string>G</string>
					<string>Gbreve</string>
					<string>Gdotaccent</string>
					<string>Gcommaaccent</string>
					<string>H</string>
					<string>I</string>
					<string>Igrave</string>
					<string>Iacute</string>
					<string>Icircumflex</string>
					<string>Idieresis</string>
					<string>Imacron</string>
					<string>Iogonek</string>
					<string>Idotaccent</string>
					<string>J</string>
					<string>K</string>
					<string>Kcommaaccent</string>
					<string>L</string>
					<string>Lacute</string>
					<string>Lcommaaccent</string>
					<string>Lcaron</string>
					<string>M</string>
					<string>N</string>
					<string>Ntilde</string>
					<string>Nacute</string>
					<string>Ncommaaccent</string>
					<string>Ncaron</string>
					<string>Ndotaccent</string>
					<string>O</string>
					<string>Ograve</string>
					<string>Oacute</string>
					<string>Ocircumflex</string>
					<string>Otilde</string>
					<string>Odieresis</string>
					<string>Omacron</string>
					<string>Ohungarumlaut</string>
					<string>P</string>
					<string>Q</string>
					<string>R</string>
					<string>Racute</string>
					<string>Rcommaaccent</string>
					<string>Rcaron</string>
					<string>S</string>
					<string>Sacute</string>
					<string>Scedilla</string>
					<string>Scaron</string>
					<string>Scommaaccent</string>
					<string>T</string>
					<string>Tcedilla</string>
					<string>Tcaron</string>
					<string>Tcommaaccent</string>
					<string>U</string>
					<string>Ugrave</string>
					<string>Uacute</string>
					<string>Ucircumflex</string>
					<string>Udieresis</string>
					<string>Umacron</string>
					<string>Uring</string>
					<string>Uhungarumlaut</string>
					<string>Uogonek</string>
					<string>V</string>
					<string>W</string>
					<string>X</string>
					<string>Y</string>
					<string>Yacute</string>
					<string>Ydieresis</string>
					<string>Z</string>
					<string>Zacute</string>
					<string>Zdotaccent</string>
					<string>Zcaron</string>
					<string>AE</string>
					<string>Eth</string>
					<string>Oslash</string>
					<string>Thorn</string>
					<string>Dcroat</string>
					<string>Ldot</string>
					<string>Lslash</string>
					<string>OE</string>
					<string>Alpha</string>
					<string>Beta</string>
					<string>Gamma</string>
					<string>Delta</string>
					<string>Epsilon</string>
					<string>Zeta</string>
					<string>Eta</string>
					<string>Theta</string>
					<string>Iota</string>
					<string>Iotadieresis</string>
					<string>Kappa</string>
					<string>Lambda</string>
					<string>Mu</string>
					<string>Nu</string>
					<string>Xi</string>
					<string>Omicron</string>
					<string>Pi</string>
					<string>Rho</string>
					<string>Sigma</string>
					<string>Tau</string>
					<string>Upsilon</string>
					<string>Upsilondieresis</string>
					<string>Phi</string>
					<string>Chi</string>
					<string>Psi</string>
					<string>Omega</string>
					<string>Dze</string>
					<string>Iukran</string>
					<string>Yi</string>
					<string>Je</string>
					<string>Acyr</string>
					<string>Abrevecyr</string>
					<string>Be</string>
					<string>Ve</string>
					<string>Ghe</string>
					<string>Ie</string>
					<string>Iegrave</string>
					<string>Io</string>
					<string>Ze</string>
					<string>Icyr</string>
					<string>Igravecyr</string>
					<string>Ishort</string>
					<string>Imacroncyr</string>
					<string>Ka</string>
					<string>El</string>
					<string>Em</string>
					<string>En</string>
					<string>Ocyr</string>
					<string>Odieresiscyr</string>
					<string>Pe</string>
					<string>Er</string>
					<string>Es</string>
					<string>Te</string>
					<string>Ucyr</string>
					<string>Umacroncyr</string>
					<string>Uacutedblcyr</string>
					<string>Ha</string>
					<string>Ustraight</string>
					<string>Palochka</string>
					<string>Aie</string>
					<string>Schwacyr</string>
					<string>Obarcyr</string>
					<string>a</string>
					<string>agrave</string>
					<string>aacute</string>
					<string>acircumflex</string>
					<string>atilde</string>
					<string>adieresis</string>
					<string>aring</string>
					<string>amacron</string>
					<string>abreve</string>
					<string>aogonek</string>
					<string>b</string>
					<string>c</string>
					<string>ccedilla</string>
					<string>cacute</string>
					<string>ccaron</string>
					<string>d</string>
					<string>dcaron</string>
					<string>e</string>
					<string>egrave</string>
					<string>eacute</string>
					<string>ecircumflex</string>
					<string>edieresis</string>
					<string>emacron</string>
					<string>edotaccent</string>
					<string>eogonek</string>
					<string>ecaron</string>
					<string>f</string>
					<string>g</string>
					<string>gbreve</string>
					<string>gdotaccent</string>
					<string>gcommaaccent</string>
					<string>h</string>
					<string>i</string>
					<string>igrave</string>
					<string>iacute</string>
					<string>icircumflex</string>
					<string>idieresis</string>
					<string>imacron</string>
					<string>iogonek</string>
					<string>j</string>
					<string>k</string>
					<string>kcommaaccent</string>
					<string>l</string>
					<string>lacute</string>
					<string>lcommaaccent</string>
					<string>lcaron</string>
					<string>m</string>
					<string>n</string>
					<string>ntilde</string>
					<string>nacute</string>
					<string>ncommaaccent</string>
					<string>ncaron</string>
					<string>ndotaccent</string>
					<string>o</string>
					<string>ograve</string>
					<string>oacute</string>
					<string>ocircumflex</string>
					<string>otilde</string>
					<string>odieresis</string>
					<string>omacron</string>
					<string>ohungarumlaut</string>
					<string>p</string>
					<string>q</string>
					<string>r</string>
					<string>racute</string>
					<string>rcommaaccent</string>
					<string>rcaron</string>
					<string>s</string>
					<string>sacute</string>
					<string>scedilla</string>
					<string>scaron</string>
					<string>scommaaccent</string>
					<string>t</string>
					<string>tcedilla</string>
					<string>tcaron</string>
					<string>tcommaaccent</string>
					<string>u</string>
					<string>ugrave</string>
					<string>uacute</string>
					<string>ucircumflex</string>
					<string>udieresis</string>
					<string>umacron</string>
					<string>uring</string>
					<string>uhungarumlaut</string>
					<string>uogonek</string>
					<string>v</string>
					<string>w</string>
					<string>x</string>
					<string>y</string>
					<string>yacute</string>
					<string>ydieresis</string>
					<string>z</string>
					<string>zacute</string>
					<string>zdotaccent</string>
					<string>zcaron</string>
					<string>ordfeminine</string>
					<string>ordmasculine</string>
					<string>germandbls</string>
					<string>ae</string>
					<string>eth</string>
					<string>oslash</string>
					<string>thorn</string>
					<string>dcroat</string>
					<string>dotlessi</string>
					<string>ldot</string>
					<string>lslash</string>
					<string>oe</string>
					<string>longs</string>
					<string>dotlessj</string>
					<string>alpha</string>
					<string>beta</string>
					<string>gamma</string>
					<string>delta</string>
					<string>epsilon</string>
					<string>zeta</string>
					<string>eta</string>
					<string>theta</string>
					<string>iota</string>
					<string>iotadieresis</string>
					<string>kappa</string>
					<string>lambda</string>
					<string>mu</string>
					<string>nu</string>
					<string>xi</string>
					<string>omicron</string>
					<string>pi</string>
					<string>rho</string>
					<string>sigma</string>
					<string>tau</string>
					<string>upsilon</string>
					<string>upsilondieresis</string>
					<string>phi</string>
					<string>chi</string>
					<string>psi</string>
					<string>omega</string>
					<string>koppa</string>
					<string>stigma</string>
					<string>digamma</string>
					<string>sampi</string>
					<string>acyr</string>
					<string>abrevecyr</string>
					<string>be</string>
					<string>ve</string>
					<string>ghe</string>
					<string>gje</string>
					<string>de</string>
					<string>ie</string>
					<string>iegrave</string>
					<string>io</string>
					<string>iebreve</string>
					<string>ze</string>
					<string>icyr</string>
					<string>ishort</string>
					<string>igravecyr</string>
					<string>imacroncyr</string>
					<string>ka</string>
					<string>kje</string>
					<string>el</string>
					<string>em</string>
					<string>en</string>
					<string>ocyr</string>
					<string>odieresiscyr</string>
					<string>pe</string>
					<string>er</string>
					<string>es</string>
					<string>te</string>
					<string>ucyr</string>
					<string>ushort</string>
					<string>umacroncyr</string>
					<string>uacutedblcyr</string>
					<string>ef</string>
					<string>ha</string>
					<string>tse</string>
					<string>che</string>
					<string>sha</string>
					<string>shcha</string>
					<string>hard</string>
					<string>yeru</string>
					<string>soft</string>
					<string>ecyr</string>
					<string>yu</string>
					<string>dze</string>
					<string>iukran</string>
					<string>yi</string>
					<string>je</string>
					<string>fita</string>
					<string>shha</string>
					<string>palochka</string>
					<string>aie</string>
					<string>schwacyr</string>
					<string>obarcyr</string>
					<string>commaturnedmod</string>
					<string>apostrophemod</string>
					<string>macronmod</string>
					<string>acutemod</string>
					<string>gravemod</string>
					<string>numeralsign</string>
					<string>gravecmb</string>
					<string>acutecmb</string>
					<string>circumflexcmb</string>
					<string>tildecmb</string>
					<string>macroncmb</string>
					<string>brevecmb</string>
					<string>dotaccentcmb</string>
					<string>dieresiscmb</string>
					<string>ringcmb</string>
					<string>hungarumlautcmb</string>
					<string>caroncmb</string>
					<string>commabelowcmb</string>
					<string>cedillacmb</string>
					<string>ogonekcmb</string>
					<string>zero</string>
					<string>one</string>
					<string>two</string>
					<string>three</string>
					<string>four</string>
					<string>five</string>
					<string>six</string>
					<string>seven</string>
					<string>eight</string>
					<string>nine</string>
					<string>onequarter</string>
					<string>onehalf</string>
					<string>threequarters</string>
					<string>onethird</string>
					<string>twothirds</string>
					<string>oneeighth</string>
					<string>threeeighths</string>
					<string>fiveeighths</string>
					<string>seveneighths</string>
					<string>underscore</string>
					<string>hyphen</string>
					<string>figuredash</string>
					<string>endash</string>
					<string>emdash</string>
					<string>horizontalbar</string>
					<string>parenleft</string>
					<string>parenright</string>
					<string>bracketleft</string>
					<string>bracketright</string>
					<string>braceleft</string>
					<string>braceright</string>
					<string>numbersign</string>
					<string>percent</string>
					<string>perthousand</string>
					<string>quotesingle</string>
					<string>quotedbl</string>
					<string>quoteleft</string>
					<string>quoteright</string>
					<string>quotedblleft</string>
					<string>quotedblright</string>
					<string>quotesinglbase</string>
					<string>quotedblbase</string>
					<string>guilsinglleft</string>
					<string>guilsinglright</string>
					<string>guillemotleft</string>
					<string>guillemotright</string>
					<string>asterisk</string>
					<string>dagger</string>
					<string>daggerdbl</string>
					<string>period</string>
					<string>comma</string>
					<string>colon</string>
					<string>semicolon</string>
					<string>ellipsis</string>
					<string>exclam</string>
					<string>exclamdown</string>
					<string>question</string>
					<string>questiondown</string>
					<string>slash</string>
					<string>backslash</string>
					<string>fraction</string>
					<string>bar</string>
					<string>brokenbar</string>
					<string>at</string>
					<string>ampersand</string>
					<string>section</string>
					<string>paragraph</string>
					<string>litre</string>
					<string>numero</string>
					<string>periodcentered</string>
					<string>bullet</string>
					<string>anoteleia</string>
					<string>prime</string>
					<string>dblprime</string>
					<string>plus</string>
					<string>minus</string>
					<string>plusminus</string>
					<string>divide</string>
					<string>multiply</string>
					<string>equal</string>
					<string>less</string>
					<string>greater</string>
					<string>lessequal</string>
					<string>greaterequal</string>
					<string>approxequal</string>
					<string>notequal</string>
					<string>logicalnot</string>
					<string>arrowleft</string>
					<string>arrowup</string>
					<string>arrowright</string>
					<string>arrowdown</string>
					<string>partialdiff</string>
					<string>product</string>
					<string>summation</string>
					<string>divisionslash</string>
					<string>bulletoperator</string>
					<string>radical</string>
					<string>infinity</string>
					<string>integral</string>
					<string>trianglewhiteright</string>
					<string>trianglewhiteleft</string>
					<string>dollar</string>
					<string>cent</string>
					<string>sterling</string>
					<string>currency</string>
					<string>yen</string>
					<string>Euro</string>
					<string>florin</string>
					<string>asciicircum</string>
					<string>asciitilde</string>
					<string>acute</string>
					<string>grave</string>
					<string>hungarumlaut</string>
					<string>circumflex</string>
					<string>caron</string>
					<string>breve</string>
					<string>tilde</string>
					<string>macron</string>
					<string>dieresis</string>
					<string>dotaccent</string>
					<string>ring</string>
					<string>cedilla</string>
					<string>ogonek</string>
					<string>dieresistonos</string>
					<string>lownumeralsign</string>
					<string>tonos</string>
					<string>copyright</string>
					<string>registered</string>
					<string>trademark</string>
					<string>servicemark</string>
					<string>degree</string>
					<string>soundcopyright</string>
					<string>estimated</string>
					<string>arrowupleft</string>
					<string>arrowupright</string>
					<string>arrowdownright</string>
					<string>arrowdownleft</string>
					<string>squareblack</string>
					<string>triangleblackup</string>
					<string>trianglewhiteup</string>
					<string>triangleblackright</string>
					<string>triangleblackdown</string>
					<string>trianglewhitedown</string>
					<string>triangleblackleft</string>
					<string>diamondblack</string>
					<string>fisheye</string>
					<string>lozenge</string>
					<string>checkbox</string>
					<string>checkedbox</string>
					<string>eighthnote</string>
					<string>check</string>
					<string>squareshadow</string>
					<string>rupeeindian</string>
					<string>liraturkish</string>
					<string>ruble</string>
					<string>commercemark</string>
					<string>deposeemark</string>
					<string>copyleft</string>
					<string>Alphatonos</string>
					<string>Che</string>
					<string>Chedescender</string>
					<string>De</string>
					<string>Dje</string>
					<string>Dzhe</string>
					<string>Ecyr</string>
					<string>Ef</string>
					<string>Endescender</string>
					<string>Epsilontonos</string>
					<string>Esdescender</string>
					<string>Etatonos</string>
					<string>Fita</string>
					<string>Ghestroke</string>
					<string>Gheup</string>
					<string>Gje</string>
					<string>Hadescender</string>
					<string>Hard</string>
					<string>Iebreve</string>
					<string>Ieukran</string>
					<string>Iotatonos</string>
					<string>Izhitsa</string>
					<string>Kabashkir</string>
					<string>Kadescender</string>
					<string>Kje</string>
					<string>Lje</string>
					<string>Nje</string>
					<string>Omegatonos</string>
					<string>Omicrontonos</string>
					<string>Sha</string>
					<string>Shcha</string>
					<string>Shha</string>
					<string>Soft</string>
					<string>Tse</string>
					<string>Tshe</string>
					<string>Upsilontonos</string>
					<string>Ushort</string>
					<string>Ustraightstroke</string>
					<string>Ya</string>
					<string>Yat</string>
					<string>Yeru</string>
					<string>Yu</string>
					<string>Zedescender</string>
					<string>Zhe</string>
					<string>Zhebreve</string>
					<string>Zhedescender</string>
					<string>alphatonos</string>
					<string>chedescender</string>
					<string>dieresistonoscmb</string>
					<string>dje</string>
					<string>dzhe</string>
					<string>endescender</string>
					<string>epsilontonos</string>
					<string>esdescender</string>
					<string>etatonos</string>
					<string>ghestroke</string>
					<string>gheup</string>
					<string>hadescender</string>
					<string>ieukran</string>
					<string>iotadieresistonos</string>
					<string>iotatonos</string>
					<string>izhitsa</string>
					<string>kabashkir</string>
					<string>kadescender</string>
					<string>kai</string>
					<string>lje</string>
					<string>nje</string>
					<string>omegatonos</string>
					<string>omicrontonos</string>
					<string>questiongreek</string>
					<string>tonoscmb</string>
					<string>tshe</string>
					<string>upsilondieresistonos</string>
					<string>upsilontonos</string>
					<string>ustraight</string>
					<string>ustraightstroke</string>
					<string>ya</string>
					<string>yat</string>
					<string>zedescender</string>
					<string>zhe</string>
					<string>zhebreve</string>
					<string>zhedescender</string>
					<string>f_f</string>
					<string>f_i</string>
					<string>f_l</string>
					<string>f_f_i</string>
					<string>f_f_l</string>
					<string>f_b</string>
					<string>f_f_b</string>
					<string>f_f_f</string>
					<string>f_f_h</string>
					<string>f_f_j</string>
					<string>f_f_k</string>
					<string>f_f_t</string>
					<string>f_h</string>
					<string>f_j</string>
					<string>f_k</string>
					<string>f_t</string>
					<string>brevecmb.cyr</string>
					<string>brevecmb.cyrcap</string>
					<string>space.frac</string>
					<string>slash.frac</string>
					<string>caron.alt</string>
					<string>commabelowcmb.alt</string>
					<string>ampersand.alt</string>
					<string>zero.lf</string>
					<string>one.lf</string>
					<string>two.lf</string>
					<string>three.lf</string>
					<string>four.lf</string>
					<string>five.lf</string>
					<string>six.lf</string>
					<string>seven.lf</string>
					<string>eight.lf</string>
					<string>nine.lf</string>
					<string>zero.osf</string>
					<string>one.osf</string>
					<string>two.osf</string>
					<string>three.osf</string>
					<string>four.osf</string>
					<string>five.osf</string>
					<string>six.osf</string>
					<string>seven.osf</string>
					<string>eight.osf</string>
					<string>nine.osf</string>
					<string>zero.tosf</string>
					<string>one.tosf</string>
					<string>two.tosf</string>
					<string>three.tosf</string>
					<string>four.tosf</string>
					<string>five.tosf</string>
					<string>six.tosf</string>
					<string>seven.tosf</string>
					<string>eight.tosf</string>
					<string>nine.tosf</string>
					<string>zero.slash</string>
					<string>zero.lfslash</string>
					<string>zero.dnom</string>
					<string>one.dnom</string>
					<string>two.dnom</string>
					<string>three.dnom</string>
					<string>four.dnom</string>
					<string>five.dnom</string>
					<string>six.dnom</string>
					<string>seven.dnom</string>
					<string>eight.dnom</string>
					<string>nine.dnom</string>
					<string>parenleft.dnom</string>
					<string>parenright.dnom</string>
					<string>bracketleft.dnom</string>
					<string>bracketright.dnom</string>
					<string>period.dnom</string>
					<string>comma.dnom</string>
					<string>zero.numr</string>
					<string>one.numr</string>
					<string>two.numr</string>
					<string>three.numr</string>
					<string>four.numr</string>
					<string>five.numr</string>
					<string>six.numr</string>
					<string>seven.numr</string>
					<string>eight.numr</string>
					<string>nine.numr</string>
					<string>parenleft.numr</string>
					<string>parenright.numr</string>
					<string>bracketleft.numr</string>
					<string>bracketright.numr</string>
					<string>period.numr</string>
					<string>comma.numr</string>
					<string>zero.subs</string>
					<string>one.subs</string>
					<string>two.subs</string>
					<string>three.subs</string>
					<string>four.subs</string>
					<string>five.subs</string>
					<string>six.subs</string>
					<string>seven.subs</string>
					<string>eight.subs</string>
					<string>nine.subs</string>
					<string>bracketleft.subs</string>
					<string>bracketright.subs</string>
					<string>parenleft.subs</string>
					<string>parenright.subs</string>
					<string>period.subs</string>
					<string>comma.subs</string>
					<string>gravecmb.cap</string>
					<string>acutecmb.cap</string>
					<string>circumflexcmb.cap</string>
					<string>tildecmb.cap</string>
					<string>macroncmb.cap</string>
					<string>brevecmb.cap</string>
					<string>dotaccentcmb.cap</string>
					<string>dieresiscmb.cap</string>
					<string>ringcmb.cap</string>
					<string>hungarumlautcmb.cap</string>
					<string>caroncmb.cap</string>
					<string>zero.cap</string>
					<string>one.cap</string>
					<string>two.cap</string>
					<string>three.cap</string>
					<string>four.cap</string>
					<string>five.cap</string>
					<string>six.cap</string>
					<string>seven.cap</string>
					<string>eight.cap</string>
					<string>nine.cap</string>
					<string>hyphen.cap</string>
					<string>endash.cap</string>
					<string>emdash.cap</string>
					<string>horizontalbar.cap</string>
					<string>parenleft.cap</string>
					<string>parenright.cap</string>
					<string>bracketleft.cap</string>
					<string>bracketright.cap</string>
					<string>braceleft.cap</string>
					<string>braceright.cap</string>
					<string>guilsinglleft.cap</string>
					<string>guilsinglright.cap</string>
					<string>guillemotleft.cap</string>
					<string>guillemotright.cap</string>
					<string>at.cap</string>
					<string>exclamdown.cap</string>
					<string>questiondown.cap</string>
					<string>tonos.cap</string>
					<string>sigma.end</string>
					<string>be.srb</string>
					<string>i.trk</string>
					<string>f.liga</string>
					<string>f.ligalong</string>
					<string>Omega.math</string>
					<string>mu.math</string>
					<string>Delta.math</string>
					<string>q.sups</string>
					<string>egrave.sups</string>
					<string>eacute.sups</string>
					<string>h.sups</string>
					<string>j.sups</string>
					<string>r.sups</string>
					<string>w.sups</string>
					<string>y.sups</string>
					<string>l.sups</string>
					<string>s.sups</string>
					<string>x.sups</string>
					<string>a.sups</string>
					<string>b.sups</string>
					<string>d.sups</string>
					<string>e.sups</string>
					<string>g.sups</string>
					<string>k.sups</string>
					<string>m.sups</string>
					<string>o.sups</string>
					<string>p.sups</string>
					<string>t.sups</string>
					<string>u.sups</string>
					<string>v.sups</string>
					<string>c.sups</string>
					<string>f.sups</string>
					<string>z.sups</string>
					<string>i.sups</string>
					<string>n.sups</string>
					<string>one.sups</string>
					<string>two.sups</string>
					<string>three.sups</string>
					<string>zero.sups</string>
					<string>four.sups</string>
					<string>five.sups</string>
					<string>six.sups</string>
					<string>seven.sups</string>
					<string>eight.sups</string>
					<string>nine.sups</string>
					<string>hyphen.sups</string>
					<string>endash.sups</string>
					<string>emdash.sups</string>
					<string>bracketleft.sups</string>
					<string>bracketright.sups</string>
					<string>parenleft.sups</string>
					<string>parenright.sups</string>
					<string>period.sups</string>
					<string>comma.sups</string>
					<string>colon.sups</string>
					<string>.notdef</string>
					<string>anoteleia.cap</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>public.glyphOrder</key>
		<array>
			<string>space</string>
			<string>figurespace</string>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>B</string>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>E</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>H</string>
			<string>I</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>J</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcommaaccent</string>
			<string>Lcaron</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>Ncommaaccent</string>
			<string>Ncaron</string>
			<string>Ndotaccent</string>
			<string>O</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Ohungarumlaut</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcommaaccent</string>
			<string>Rcaron</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
			<string>T</string>
			<string>Tcedilla</string>
			<string>Tcaron</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
			<string>AE</string>
			<string>Eth</string>
			<string>Oslash</string>
			<string>Thorn</string>
			<string>Dcroat</string>
			<string>Ldot</string>
			<string>Lslash</string>
			<string>OE</string>
			<string>Alpha</string>
			<string>Beta</string>
			<string>Gamma</string>
			<string>Delta</string>
			<string>Epsilon</string>
			<string>Zeta</string>
			<string>Eta</string>
			<string>Theta</string>
			<string>Iota</string>
			<string>Iotadieresis</string>
			<string>Kappa</string>
			<string>Lambda</string>
			<string>Mu</string>
			<string>Nu</string>
			<string>Xi</string>
			<string>Omicron</string>
			<string>Pi</string>
			<string>Rho</string>
			<string>Sigma</string>
			<string>Tau</string>
			<string>Upsilon</string>
			<string>Upsilondieresis</string>
			<string>Phi</string>
			<string>Chi</string>
			<string>Psi</string>
			<string>Omega</string>
			<string>Dze</string>
			<string>Iukran</string>
			<string>Yi</string>
			<string>Je</string>
			<string>Acyr</string>
			<string>Abrevecyr</string>
			<string>Be</string>
			<string>Ve</string>
			<string>Ghe</string>
			<string>Ie</string>
			<string>Iegrave</string>
			<string>Io</string>
			<string>Ze</string>
			<string>Icyr</string>
			<string>Igravecyr</string>
			<string>Ishort</string>
			<string>Imacroncyr</string>
			<string>Ka</string>
			<string>El</string>
			<string>Em</string>
			<string>En</string>
			<string>Ocyr</string>
			<string>Odieresiscyr</string>
			<string>Pe</string>
			<string>Er</string>
			<string>Es</string>
			<string>Te</string>
			<string>Ucyr</string>
			<string>Umacroncyr</string>
			<string>Uacutedblcyr</string>
			<string>Ha</string>
			<string>Ustraight</string>
			<string>Palochka</string>
			<string>Aie</string>
			<string>Schwacyr</string>
			<string>Obarcyr</string>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>b</string>
			<string>c</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>d</string>
			<string>dcaron</string>
			<string>e</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
			<string>h</string>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>j</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcommaaccent</string>
			<string>lcaron</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
			<string>nacute</string>
			<string>ncommaaccent</string>
			<string>ncaron</string>
			<string>ndotaccent</string>
			<string>o</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>ohungarumlaut</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcommaaccent</string>
			<string>rcaron</string>
			<string>s</string>
			<string>sacute</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>scommaaccent</string>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcaron</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>germandbls</string>
			<string>ae</string>
			<string>eth</string>
			<string>oslash</string>
			<string>thorn</string>
			<string>dcroat</string>
			<string>dotlessi</string>
			<string>ldot</string>
			<string>lslash</string>
			<string>oe</string>
			<string>longs</string>
			<string>dotlessj</string>
			<string>alpha</string>
			<string>beta</string>
			<string>gamma</string>
			<string>delta</string>
			<string>epsilon</string>
			<string>zeta</string>
			<string>eta</string>
			<string>theta</string>
			<string>iota</string>
			<string>iotadieresis</string>
			<string>kappa</string>
			<string>lambda</string>
			<string>mu</string>
			<string>nu</string>
			<string>xi</string>
			<string>omicron</string>
			<string>pi</string>
			<string>rho</string>
			<string>sigma</string>
			<string>tau</string>
			<string>upsilon</string>
			<string>upsilondieresis</string>
			<string>phi</string>
			<string>chi</string>
			<string>psi</string>
			<string>omega</string>
			<string>koppa</string>
			<string>stigma</string>
			<string>digamma</string>
			<string>sampi</string>
			<string>acyr</string>
			<string>abrevecyr</string>
			<string>be</string>
			<string>ve</string>
			<string>ghe</string>
			<string>gje</string>
			<string>de</string>
			<string>ie</string>
			<string>iegrave</string>
			<string>io</string>
			<string>iebreve</string>
			<string>ze</string>
			<string>icyr</string>
			<string>ishort</string>
			<string>igravecyr</string>
			<string>imacroncyr</string>
			<string>ka</string>
			<string>kje</string>
			<string>el</string>
			<string>em</string>
			<string>en</string>
			<string>ocyr</string>
			<string>odieresiscyr</string>
			<string>pe</string>
			<string>er</string>
			<string>es</string>
			<string>te</string>
			<string>ucyr</string>
			<string>ushort</string>
			<string>umacroncyr</string>
			<string>uacutedblcyr</string>
			<string>ef</string>
			<string>ha</string>
			<string>tse</string>
			<string>che</string>
			<string>sha</string>
			<string>shcha</string>
			<string>hard</string>
			<string>yeru</string>
			<string>soft</string>
			<string>ecyr</string>
			<string>yu</string>
			<string>dze</string>
			<string>iukran</string>
			<string>yi</string>
			<string>je</string>
			<string>fita</string>
			<string>shha</string>
			<string>palochka</string>
			<string>aie</string>
			<string>schwacyr</string>
			<string>obarcyr</string>
			<string>commaturnedmod</string>
			<string>apostrophemod</string>
			<string>macronmod</string>
			<string>acutemod</string>
			<string>gravemod</string>
			<string>numeralsign</string>
			<string>gravecmb</string>
			<string>acutecmb</string>
			<string>circumflexcmb</string>
			<string>tildecmb</string>
			<string>macroncmb</string>
			<string>brevecmb</string>
			<string>dotaccentcmb</string>
			<string>dieresiscmb</string>
			<string>ringcmb</string>
			<string>hungarumlautcmb</string>
			<string>caroncmb</string>
			<string>commabelowcmb</string>
			<string>cedillacmb</string>
			<string>ogonekcmb</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
			<string>onethird</string>
			<string>twothirds</string>
			<string>oneeighth</string>
			<string>threeeighths</string>
			<string>fiveeighths</string>
			<string>seveneighths</string>
			<string>underscore</string>
			<string>hyphen</string>
			<string>figuredash</string>
			<string>endash</string>
			<string>emdash</string>
			<string>horizontalbar</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>numbersign</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>asterisk</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>slash</string>
			<string>backslash</string>
			<string>fraction</string>
			<string>bar</string>
			<string>brokenbar</string>
			<string>at</string>
			<string>ampersand</string>
			<string>section</string>
			<string>paragraph</string>
			<string>litre</string>
			<string>numero</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>anoteleia</string>
			<string>prime</string>
			<string>dblprime</string>
			<string>plus</string>
			<string>minus</string>
			<string>plusminus</string>
			<string>divide</string>
			<string>multiply</string>
			<string>equal</string>
			<string>less</string>
			<string>greater</string>
			<string>lessequal</string>
			<string>greaterequal</string>
			<string>approxequal</string>
			<string>notequal</string>
			<string>logicalnot</string>
			<string>arrowleft</string>
			<string>arrowup</string>
			<string>arrowright</string>
			<string>arrowdown</string>
			<string>partialdiff</string>
			<string>product</string>
			<string>summation</string>
			<string>divisionslash</string>
			<string>bulletoperator</string>
			<string>radical</string>
			<string>infinity</string>
			<string>integral</string>
			<string>trianglewhiteright</string>
			<string>trianglewhiteleft</string>
			<string>dollar</string>
			<string>cent</string>
			<string>sterling</string>
			<string>currency</string>
			<string>yen</string>
			<string>Euro</string>
			<string>florin</string>
			<string>asciicircum</string>
			<string>asciitilde</string>
			<string>acute</string>
			<string>grave</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>tilde</string>
			<string>macron</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>ring</string>
			<string>cedilla</string>
			<string>ogonek</string>
			<string>dieresistonos</string>
			<string>lownumeralsign</string>
			<string>tonos</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>servicemark</string>
			<string>degree</string>
			<string>soundcopyright</string>
			<string>estimated</string>
			<string>arrowupleft</string>
			<string>arrowupright</string>
			<string>arrowdownright</string>
			<string>arrowdownleft</string>
			<string>squareblack</string>
			<string>triangleblackup</string>
			<string>trianglewhiteup</string>
			<string>triangleblackright</string>
			<string>triangleblackdown</string>
			<string>trianglewhitedown</string>
			<string>triangleblackleft</string>
			<string>diamondblack</string>
			<string>fisheye</string>
			<string>lozenge</string>
			<string>checkbox</string>
			<string>checkedbox</string>
			<string>eighthnote</string>
			<string>check</string>
			<string>squareshadow</string>
			<string>rupeeindian</string>
			<string>liraturkish</string>
			<string>ruble</string>
			<string>commercemark</string>
			<string>deposeemark</string>
			<string>copyleft</string>
			<string>Alphatonos</string>
			<string>Che</string>
			<string>Chedescender</string>
			<string>De</string>
			<string>Dje</string>
			<string>Dzhe</string>
			<string>Ecyr</string>
			<string>Ef</string>
			<string>Endescender</string>
			<string>Epsilontonos</string>
			<string>Esdescender</string>
			<string>Etatonos</string>
			<string>Fita</string>
			<string>Ghestroke</string>
			<string>Gheup</string>
			<string>Gje</string>
			<string>Hadescender</string>
			<string>Hard</string>
			<string>Iebreve</string>
			<string>Ieukran</string>
			<string>Iotatonos</string>
			<string>Izhitsa</string>
			<string>Kabashkir</string>
			<string>Kadescender</string>
			<string>Kje</string>
			<string>Lje</string>
			<string>Nje</string>
			<string>Omegatonos</string>
			<string>Omicrontonos</string>
			<string>Sha</string>
			<string>Shcha</string>
			<string>Shha</string>
			<string>Soft</string>
			<string>Tse</string>
			<string>Tshe</string>
			<string>Upsilontonos</string>
			<string>Ushort</string>
			<string>Ustraightstroke</string>
			<string>Ya</string>
			<string>Yat</string>
			<string>Yeru</string>
			<string>Yu</string>
			<string>Zedescender</string>
			<string>Zhe</string>
			<string>Zhebreve</string>
			<string>Zhedescender</string>
			<string>alphatonos</string>
			<string>chedescender</string>
			<string>dieresistonoscmb</string>
			<string>dje</string>
			<string>dzhe</string>
			<string>endescender</string>
			<string>epsilontonos</string>
			<string>esdescender</string>
			<string>etatonos</string>
			<string>ghestroke</string>
			<string>gheup</string>
			<string>hadescender</string>
			<string>ieukran</string>
			<string>iotadieresistonos</string>
			<string>iotatonos</string>
			<string>izhitsa</string>
			<string>kabashkir</string>
			<string>kadescender</string>
			<string>kai</string>
			<string>lje</string>
			<string>nje</string>
			<string>omegatonos</string>
			<string>omicrontonos</string>
			<string>questiongreek</string>
			<string>tonoscmb</string>
			<string>tshe</string>
			<string>upsilondieresistonos</string>
			<string>upsilontonos</string>
			<string>ustraight</string>
			<string>ustraightstroke</string>
			<string>ya</string>
			<string>yat</string>
			<string>zedescender</string>
			<string>zhe</string>
			<string>zhebreve</string>
			<string>zhedescender</string>
			<string>f_f</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>f_b</string>
			<string>f_f_b</string>
			<string>f_f_f</string>
			<string>f_f_h</string>
			<string>f_f_j</string>
			<string>f_f_k</string>
			<string>f_f_t</string>
			<string>f_h</string>
			<string>f_j</string>
			<string>f_k</string>
			<string>f_t</string>
			<string>brevecmb.cyr</string>
			<string>brevecmb.cyrcap</string>
			<string>space.frac</string>
			<string>slash.frac</string>
			<string>caron.alt</string>
			<string>commabelowcmb.alt</string>
			<string>ampersand.alt</string>
			<string>zero.lf</string>
			<string>one.lf</string>
			<string>two.lf</string>
			<string>three.lf</string>
			<string>four.lf</string>
			<string>five.lf</string>
			<string>six.lf</string>
			<string>seven.lf</string>
			<string>eight.lf</string>
			<string>nine.lf</string>
			<string>zero.osf</string>
			<string>one.osf</string>
			<string>two.osf</string>
			<string>three.osf</string>
			<string>four.osf</string>
			<string>five.osf</string>
			<string>six.osf</string>
			<string>seven.osf</string>
			<string>eight.osf</string>
			<string>nine.osf</string>
			<string>zero.tosf</string>
			<string>one.tosf</string>
			<string>two.tosf</string>
			<string>three.tosf</string>
			<string>four.tosf</string>
			<string>five.tosf</string>
			<string>six.tosf</string>
			<string>seven.tosf</string>
			<string>eight.tosf</string>
			<string>nine.tosf</string>
			<string>zero.slash</string>
			<string>zero.lfslash</string>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
			<string>parenleft.dnom</string>
			<string>parenright.dnom</string>
			<string>bracketleft.dnom</string>
			<string>bracketright.dnom</string>
			<string>period.dnom</string>
			<string>comma.dnom</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
			<string>parenleft.numr</string>
			<string>parenright.numr</string>
			<string>bracketleft.numr</string>
			<string>bracketright.numr</string>
			<string>period.numr</string>
			<string>comma.numr</string>
			<string>zero.subs</string>
			<string>one.subs</string>
			<string>two.subs</string>
			<string>three.subs</string>
			<string>four.subs</string>
			<string>five.subs</string>
			<string>six.subs</string>
			<string>seven.subs</string>
			<string>eight.subs</string>
			<string>nine.subs</string>
			<string>bracketleft.subs</string>
			<string>bracketright.subs</string>
			<string>parenleft.subs</string>
			<string>parenright.subs</string>
			<string>period.subs</string>
			<string>comma.subs</string>
			<string>gravecmb.cap</string>
			<string>acutecmb.cap</string>
			<string>circumflexcmb.cap</string>
			<string>tildecmb.cap</string>
			<string>macroncmb.cap</string>
			<string>brevecmb.cap</string>
			<string>dotaccentcmb.cap</string>
			<string>dieresiscmb.cap</string>
			<string>ringcmb.cap</string>
			<string>hungarumlautcmb.cap</string>
			<string>caroncmb.cap</string>
			<string>zero.cap</string>
			<string>one.cap</string>
			<string>two.cap</string>
			<string>three.cap</string>
			<string>four.cap</string>
			<string>five.cap</string>
			<string>six.cap</string>
			<string>seven.cap</string>
			<string>eight.cap</string>
			<string>nine.cap</string>
			<string>hyphen.cap</string>
			<string>endash.cap</string>
			<string>emdash.cap</string>
			<string>horizontalbar.cap</string>
			<string>parenleft.cap</string>
			<string>parenright.cap</string>
			<string>bracketleft.cap</string>
			<string>bracketright.cap</string>
			<string>braceleft.cap</string>
			<string>braceright.cap</string>
			<string>guilsinglleft.cap</string>
			<string>guilsinglright.cap</string>
			<string>guillemotleft.cap</string>
			<string>guillemotright.cap</string>
			<string>at.cap</string>
			<string>exclamdown.cap</string>
			<string>questiondown.cap</string>
			<string>tonos.cap</string>
			<string>sigma.end</string>
			<string>be.srb</string>
			<string>i.trk</string>
			<string>f.liga</string>
			<string>f.ligalong</string>
			<string>Omega.math</string>
			<string>mu.math</string>
			<string>Delta.math</string>
			<string>q.sups</string>
			<string>egrave.sups</string>
			<string>eacute.sups</string>
			<string>h.sups</string>
			<string>j.sups</string>
			<string>r.sups</string>
			<string>w.sups</string>
			<string>y.sups</string>
			<string>l.sups</string>
			<string>s.sups</string>
			<string>x.sups</string>
			<string>a.sups</string>
			<string>b.sups</string>
			<string>d.sups</string>
			<string>e.sups</string>
			<string>g.sups</string>
			<string>k.sups</string>
			<string>m.sups</string>
			<string>o.sups</string>
			<string>p.sups</string>
			<string>t.sups</string>
			<string>u.sups</string>
			<string>v.sups</string>
			<string>c.sups</string>
			<string>f.sups</string>
			<string>z.sups</string>
			<string>i.sups</string>
			<string>n.sups</string>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
			<string>zero.sups</string>
			<string>four.sups</string>
			<string>five.sups</string>
			<string>six.sups</string>
			<string>seven.sups</string>
			<string>eight.sups</string>
			<string>nine.sups</string>
			<string>hyphen.sups</string>
			<string>endash.sups</string>
			<string>emdash.sups</string>
			<string>bracketleft.sups</string>
			<string>bracketright.sups</string>
			<string>parenleft.sups</string>
			<string>parenright.sups</string>
			<string>period.sups</string>
			<string>comma.sups</string>
			<string>colon.sups</string>
			<string>.notdef</string>
			<string>anoteleia.cap</string>
		</array>
	</dict>
</plist>
