<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Delta</key>
		<string>D_elta.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>delta</key>
		<string>delta.glif</string>
		<key>omega</key>
		<string>omega.glif</string>
		<key>sigma.end</key>
		<string>sigma.end.glif</string>
		<key>xi</key>
		<string>xi.glif</string>
		<key>zeta</key>
		<string>zeta.glif</string>
	</dict>
</plist>
